body {
    margin: 0px;
    font-family: 'roboto';
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding:72px;
    padding-top:0px;
    
}
.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:32px;
}
.headercontent {
    display: flex;
    justify-content: space-between;
}
.headerleft {
    display: flex;
    flex-direction: column;
    gap:8px;

}
.info {
    display: flex;
    justify-content: center;
}

img {
    max-width: 50%;
}

ul{
    list-style-type: none;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    align-self: flex-start;
    border-radius: 10px;
}

*{
    border:solid red 1px;
}